<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据管理系统</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <div style="margin-bottom: 15px;">
            <a href="/trade_dates/yearly" class="add-btn">按年份聚合的交易日数据</a>
            <a href="/stock_basic" class="add-btn" style="margin-left: 10px;">基本信息（Baostock）</a>
            <a href="/nostock_basic" class="add-btn" style="margin-left: 10px;">非GP基本信息（Baostock）</a>
            <a href="/stock_basic_ana" class="add-btn" style="margin-left: 10px;">分析结果</a>
            <a href="/fund_ana" class="add-btn" style="margin-left: 10px;">行业分析</a>
        </div>
        
        <!-- 显示flash消息 -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="flash-message">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>