{% extends "stock_common.html" %}
{% set action_url = "/stock_basic" %}
{% set container_max_width = "1600px" %}
{% block content %}
        <!-- 显示数据表格 -->
        <table>
            <thead>
                <tr>
                    <th>名称 </th>
                    <th>最近交易日期</th>
                    <th class="number-cell">股息</th>
                    <th class="number-cell">营收增长</th>
                    <th class="number-cell">PE百分位 </th>
                    <th class="number-cell">交易</th>
                    <th>标签</th>
                </tr>
            </thead>
            <tbody id="stockTableBody">
                {% if stock_basics %}
                    {% for item in stock_basics %}
                        <tr>
                            <td>
                                <a href="https://xueqiu.com/S/{{ item.code.replace('.', '') }}" target="_blank">{{ item.code }}</a><br/>
                                <a href="/stock_trade/{{ item.code }}" target="_blank" class="code-link">{{ item.code_name }}</a><br/>
                                市值：{{ '%.0f' | format(item.last_kline.total_market_value) if item.last_kline.total_market_value else '-' }}
                            </td>
                            <td>{{ item.last_kline.date if item.last_kline.date else '-' }}<br/>
                                PE：
                                {% if item.ana.tradeBuyPE and item.ana.tradeBuyPE > item.last_kline.peTTM %}
                                 <span style="color: green;">{{ '%.1f' | format(item.last_kline.peTTM) if item.last_kline.peTTM else '-' }}</span>
                                {% elif item.ana.tradeSalePE and item.ana.tradeSalePE < item.last_kline.peTTM %}
                                 <span style="color: red;">{{ '%.1f' | format(item.last_kline.peTTM) if item.last_kline.peTTM else '-' }}</span>
                                {% else %}
                                    {{ '%.1f' | format(item.last_kline.peTTM) if item.last_kline.peTTM else '-' }} 
                                {% endif %}
                                
                                <br/>
                                股价：{{ '%.1f' | format(item.last_kline.close) if item.last_kline.close else '-' }}<br/>
                                换手率：5天{{ '%.1f' | format(item.last_kline.turn_percent_5) if item.last_kline.turn_percent_5 else '-' }}%<br/>
                                    15天{{ '%.1f' | format(item.last_kline.turn_percent_15) if item.last_kline.turn_percent_15 else '-' }}%<br/>
                                    30天{{ '%.1f' | format(item.last_kline.turn_percent_30) if item.last_kline.turn_percent_30 else '-' }}%
                            </td>
                            <td>每股收益年：{{ '%.1f' | format(item.ana.epsTTM) if item.ana.epsTTM else '' }}<br/>
                                股息：{{ '%.2f' | format(item.ana.dividCashPsBeforeTax) if item.ana.dividCashPsBeforeTax else '-' }}<br/>
                                股息率：{{ '%.2f' | format(item.last_kline.stock_fenghong_percent) if item.last_kline.stock_fenghong_percent else '-' }}%
                            </td>
                            <td>营收增速：{{ '%.2f' | format(item.ana.MBRevenueRate) if item.ana.MBRevenueRate else '-' }}%<br/>
                                利润增速：{{ '%.2f' | format(item.ana.netProfitRate) if item.ana.netProfitRate else '-' }}%<br/>
                                毛利率：{{ '%.1f' | format(item.ana.gpMargin) if item.ana.gpMargin else '-' }}%<br/>
                                净利率：{{ '%.1f' | format(item.ana.npMargin) if item.ana.npMargin else '-' }}%<br/>
                                roe：
                                {% if item.ana.roeAvg and item.ana.roeAvg > 20 %}
                                    <span style="color: green;">{{ '%.2f' | format(item.ana.roeAvg) if item.ana.roeAvg else '-' }}%</span>
                                {% else %}
                                    {{ '%.2f' | format(item.ana.roeAvg) if item.ana.roeAvg else '-' }}%
                                {% endif %}
                            </td>
                            <td>
                                ------PE ----- PS ---- PB<br/>
                                1年
                                {% if item.last_kline.pe_year_1_percent %}
                                    {% if item.last_kline.pe_year_1_percent < 20 %}
                                        <span style="color: green;">{{ '%.1f' | format(item.last_kline.pe_year_1_percent) if item.last_kline.pe_year_1_percent else '-' }}%</span>
                                    {% elif item.last_kline.pe_year_1_percent > 80 %}
                                        <span style="color: red;">{{ '%.1f' | format(item.last_kline.pe_year_1_percent) if item.last_kline.pe_year_1_percent else '-' }}%</span>
                                    {% else %}
                                        {{ '%.1f' | format(item.last_kline.pe_year_1_percent) if item.last_kline.pe_year_1_percent else '-' }}%
                                    {% endif %}
                                {% endif %}
                                {% if item.last_kline.ps_year_1_percent %}
                                    {% if item.last_kline.ps_year_1_percent < 20 %}
                                        <span style="color: green;">{{ '%.1f' | format(item.last_kline.ps_year_1_percent) if item.last_kline.ps_year_1_percent else '-' }}%</span>
                                    {% elif item.last_kline.ps_year_1_percent > 80 %}
                                        <span style="color: red;">{{ '%.1f' | format(item.last_kline.ps_year_1_percent) if item.last_kline.ps_year_1_percent else '-' }}%</span>
                                    {% else %}
                                        {{ '%.1f' | format(item.last_kline.ps_year_1_percent) if item.last_kline.ps_year_1_percent else '-' }}%
                                    {% endif %}
                                {% endif %}
                                {% if item.last_kline.pb_year_1_percent %}
                                    {% if item.last_kline.pb_year_1_percent < 20 %}
                                        <span style="color: green;">{{ '%.1f' | format(item.last_kline.pb_year_1_percent) if item.last_kline.pb_year_1_percent else '-' }}%</span>
                                    {% elif item.last_kline.pb_year_1_percent > 80 %}
                                        <span style="color: red;">{{ '%.1f' | format(item.last_kline.pb_year_1_percent) if item.last_kline.pb_year_1_percent else '-' }}%</span>
                                    {% else %}
                                        {{ '%.1f' | format(item.last_kline.pb_year_1_percent) if item.last_kline.pb_year_1_percent else '-' }}%
                                    {% endif %}
                                {% endif %}

                                <br/>
                                3年
                                {% if item.last_kline.pe_year_3_percent %}
                                    {% if item.last_kline.pe_year_3_percent < 20 %}
                                        <span style="color: green;">{{ '%.1f' | format(item.last_kline.pe_year_3_percent) if item.last_kline.pe_year_3_percent else '-' }}%</span>
                                    {% elif item.last_kline.pe_year_3_percent > 80 %}
                                        <span style="color: red;">{{ '%.1f' | format(item.last_kline.pe_year_3_percent) if item.last_kline.pe_year_3_percent else '-' }}%</span>
                                    {% else %}
                                        {{ '%.1f' | format(item.last_kline.pe_year_3_percent) if item.last_kline.pe_year_3_percent else '-' }}%
                                    {% endif %}
                                {% endif %}
                                {% if item.last_kline.ps_year_3_percent %}
                                    {% if item.last_kline.ps_year_3_percent < 20 %}
                                        <span style="color: green;">{{ '%.1f' | format(item.last_kline.ps_year_3_percent) if item.last_kline.ps_year_3_percent else '-' }}%</span>
                                    {% elif item.last_kline.ps_year_3_percent > 80 %}
                                        <span style="color: red;">{{ '%.1f' | format(item.last_kline.ps_year_3_percent) if item.last_kline.ps_year_3_percent else '-' }}%</span>
                                    {% else %}
                                        {{ '%.1f' | format(item.last_kline.ps_year_3_percent) if item.last_kline.ps_year_3_percent else '-' }}%
                                    {% endif %}
                                {% endif %}
                                {% if item.last_kline.pb_year_3_percent %}
                                    {% if item.last_kline.pb_year_3_percent < 20 %}
                                        <span style="color: green;">{{ '%.1f' | format(item.last_kline.pb_year_3_percent) if item.last_kline.pb_year_3_percent else '-' }}%</span>
                                    {% elif item.last_kline.pb_year_3_percent > 80 %}
                                        <span style="color: red;">{{ '%.1f' | format(item.last_kline.pb_year_3_percent) if item.last_kline.pb_year_3_percent else '-' }}%</span>
                                    {% else %}
                                        {{ '%.1f' | format(item.last_kline.pb_year_3_percent) if item.last_kline.pb_year_3_percent else '-' }}%
                                    {% endif %}
                                {% endif %}
                                <br/>
                                5年
                                {% if item.last_kline.pe_year_5_percent %}
                                    {% if item.last_kline.pe_year_5_percent < 20 %}
                                        <span style="color: green;">{{ '%.1f' | format(item.last_kline.pe_year_5_percent) if item.last_kline.pe_year_5_percent else '-' }}%</span>
                                    {% elif item.last_kline.pe_year_5_percent > 80 %}
                                        <span style="color: red;">{{ '%.1f' | format(item.last_kline.pe_year_5_percent) if item.last_kline.pe_year_5_percent else '-' }}%</span>
                                    {% else %}
                                        {{ '%.1f' | format(item.last_kline.pe_year_5_percent) if item.last_kline.pe_year_5_percent else '-' }}%
                                    {% endif %}
                                {% endif %}
                                {% if item.last_kline.ps_year_5_percent %}
                                    {% if item.last_kline.ps_year_5_percent < 20 %}
                                        <span style="color: green;">{{ '%.1f' | format(item.last_kline.ps_year_5_percent) if item.last_kline.ps_year_5_percent else '-' }}%</span>
                                    {% elif item.last_kline.ps_year_5_percent > 80 %}
                                        <span style="color: red;">{{ '%.1f' | format(item.last_kline.ps_year_5_percent) if item.last_kline.ps_year_5_percent else '-' }}%</span>
                                    {% else %}
                                        {{ '%.1f' | format(item.last_kline.ps_year_5_percent) if item.last_kline.ps_year_5_percent else '-' }}%
                                    {% endif %}
                                {% endif %}
                                {% if item.last_kline.pb_year_5_percent %}
                                    {% if item.last_kline.pb_year_5_percent < 20 %}
                                        <span style="color: green;">{{ '%.1f' | format(item.last_kline.pb_year_5_percent) if item.last_kline.pb_year_5_percent else '-' }}%</span>
                                    {% elif item.last_kline.pb_year_5_percent > 80 %}
                                        <span style="color: red;">{{ '%.1f' | format(item.last_kline.pb_year_5_percent) if item.last_kline.pb_year_5_percent else '-' }}%</span>
                                    {% else %}
                                        {{ '%.1f' | format(item.last_kline.pb_year_5_percent) if item.last_kline.pb_year_5_percent else '-' }}%
                                    {% endif %}
                                {% endif %}
                                
                            </td>
                            <td>
                                买入PE<input type="text" id="tradeBuyPE-{{ item.code }}" value="{{ '%.0f' | format(item.ana.tradeBuyPE) if item.ana.tradeBuyPE else '' }}" style="width: 30px;"><br/>
                                全仓PE<input type="text" id="tradeBuyAllPE-{{ item.code }}" value="{{ '%.0f' | format(item.ana.tradeBuyAllPE) if item.ana.tradeBuyAllPE else '' }}" style="width: 30px;">
                                <br/>
                                卖出PE<input type="text" id="tradeSalePE-{{ item.code }}" value="{{ '%.0f' | format(item.ana.tradeSalePE) if item.ana.tradeSalePE else '' }}" style="width: 30px;"><br/>
                                清仓PE<input type="text" id="tradeSaleAllPE-{{ item.code }}" value="{{ '%.0f' | format(item.ana.tradeSaleAllPE) if item.ana.tradeSaleAllPE else '' }}" style="width: 30px;"><br/>
                                <button onclick="savePEValues('{{ item.code }}')">保存</button>
                            </td>
                            <td>
                                手动：{% if item.tags %}
                                    {% for tag in item.tags %}
                                        <span style="background-color: #4CAF50; color: white; padding: 2px 8px; border-radius: 12px; font-size: 12px; margin-right: 4px;">{{ tag }}</span>
                                    {% endfor %}
                                {% else %}
                                    -
                                {% endif %}
                                <br/>自动：{% if item.auto_tags %}
                                    {% for tag in item.auto_tags %}
                                        <span style="background-color: #4CAF50; color: white; padding: 2px 8px; border-radius: 12px; font-size: 12px; margin-right: 4px;">{{ tag }}</span>
                                    {% endfor %}
                                {% else %}
                                    -
                                {% endif %}
                                <br/>
                                 经营：
                                 {% if item.bao_tag %}
                                   {{ item.bao_tag.statDate }}
                                    {% set loss_tags = item.bao_tag.bao_tags_loss.split(',') if item.bao_tag.bao_tags_loss else [] %}
                                    {% if loss_tags and loss_tags | length > 0 %}
                                        {% for tag in loss_tags %}
                                            {% if tag.strip() %}
                                                <span style="color: red;">{{ tag.strip() }}</span>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        -
                                    {% endif %}<br/>
                                    {% set positive_tags = item.bao_tag.bao_tags_positive.split(',') if item.bao_tag.bao_tags_positive else [] %}
                                    {% if positive_tags and positive_tags | length > 0 %}
                                        {% for tag in positive_tags %}
                                            {% if tag.strip() %}
                                                <span style="background-color: #4CAF50; color: white; padding: 2px 8px; border-radius: 12px; font-size: 12px; margin-right: 4px;">{{ tag.strip() }}</span>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        -
                                    {% endif %}
                                {% else %}
                                    -
                                {% endif %}
                                <br/>
                                拆股分红：
                                {% if item.bao_fenghong_tag %}
                                    {{ item.bao_fenghong_tag.statDate }}
                                    {% set fenghong_loss_tags = item.bao_fenghong_tag.bao_tags_loss.split(',') if item.bao_fenghong_tag.bao_tags_loss else [] %}
                                    {% if fenghong_loss_tags and fenghong_loss_tags | length > 0 %}
                                        {% for tag in fenghong_loss_tags %}
                                            {% if tag.strip() %}
                                                <span style="color: red;">{{ tag.strip() }}</span>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        -
                                    {% endif %}<br/>
                                    {% set fenghong_positive_tags = item.bao_fenghong_tag.bao_tags_positive.split(',') if item.bao_fenghong_tag.bao_tags_positive else [] %}
                                    {% if fenghong_positive_tags and fenghong_positive_tags | length > 0 %}
                                        {% for tag in fenghong_positive_tags %}
                                            {% if tag.strip() %}
                                                <span style="background-color: #4CAF50; color: white; padding: 2px 8px; border-radius: 12px; font-size: 12px; margin-right: 4px;">{{ tag.strip() }}</span>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        -
                                    {% endif %}
                                {% else %}
                                    -
                                {% endif %}
                            </td>

                        </tr>
                        <tr>
                            <td colspan="7">
                                备注：{{ item.remark if item.remark else '-' }}<br/>
                                风险：{{ item.risk_memo if item.risk_memo else '-' }}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="40" style="text-align: center; padding: 20px;">暂无数据</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    
    <script>
    function savePEValues(stockCode) {
        // 获取四个PE输入框的值
        const tradeBuyPE = document.getElementById('tradeBuyPE-' + stockCode).value.trim();
        const tradeBuyAllPE = document.getElementById('tradeBuyAllPE-' + stockCode).value.trim();
        const tradeSalePE = document.getElementById('tradeSalePE-' + stockCode).value.trim();
        const tradeSaleAllPE = document.getElementById('tradeSaleAllPE-' + stockCode).value.trim();
        
        // 验证输入值是否为有效数字
        function validateNum(val) {
            return val === '' || !isNaN(val) && val > 0;
        }
        
        if (!validateNum(tradeBuyPE) || !validateNum(tradeBuyAllPE) || 
            !validateNum(tradeSalePE) || !validateNum(tradeSaleAllPE)) {
            alert('请输入有效的正数');
            return;
        }
        
        // 构建请求数据
        const data = {
            code: stockCode,
            tradeBuyPE: tradeBuyPE ? parseFloat(tradeBuyPE) : null,
            tradeBuyAllPE: tradeBuyAllPE ? parseFloat(tradeBuyAllPE) : null,
            tradeSalePE: tradeSalePE ? parseFloat(tradeSalePE) : null,
            tradeSaleAllPE: tradeSaleAllPE ? parseFloat(tradeSaleAllPE) : null
        };
        
        // 发送AJAX请求
        fetch('/save_pe_values', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCsrfToken() // 如果需要CSRF保护
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(result => {
            if (result.success) {
                alert('保存成功');
            } else {
                alert('保存失败: ' + (result.error || '未知错误'));
            }
        })
        .catch(error => {
            console.error('错误:', error);
            alert('保存过程中发生错误');
        });
    }
    
    // 获取CSRF令牌的辅助函数（如果应用使用CSRF保护）
    function getCsrfToken() {
        const cookieValue = document.cookie
            .split('; ')
            .find(row => row.startsWith('XSRF-TOKEN='))
            ?.split('=')[1];
        return cookieValue ? decodeURIComponent(cookieValue) : '';
    }
    </script>
{% endblock %}